<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/logins" routerLinkActive="active">Link to List LoginList</a>
    </div>
    <div>
        <a routerLink="/subjects" routerLinkActive="active">Link to List SubjectList</a>
    </div>
    <div>
        <a routerLink="/studentnames" routerLinkActive="active">Link to List StudentNameList</a>
    </div>
    <div>
        <a routerLink="/courses" routerLinkActive="active">Link to List CourseList</a>
    </div>
 <!-- END LINKS -->
</div>